# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
.next/
out/

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Runtime
.DS_Store
*.pem

# Editor
.vscode/
.idea/

# Prisma
prisma/migrations/

# TypeScript
*.tsbuildinfo
next-env.d.ts
